* {
  font-family: "Tahoma", sans-serif;
  color: #b4f0eb;
  border-style: solid;
  border-color: red;
  border-width: thin;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(90deg, #de16a5, #f07b32 70%);
}

h1 {
  text-align: center;
  margin-top: 20px;
}


 .game-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.game-card-pile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.middle-pile {
  margin-bottom: 95px;
}

.player-cards {
  border-radius: 10px;
  height: 51%;
  width: 56%;
}
